div.nexapp-topnav {
  height: 50px;
  background: #EEE;
  font-size: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center; }
  div.nexapp-topnav.-inverse {
    flex-direction: row-reverse; }
  div.nexapp-topnav span, div.nexapp-topnav a {
    padding: 0px 20px; }

.nextapp-sidepanel {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  top: 0; }
  .nextapp-sidepanel .sidepanel-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s 0.05s ease; }
  .nextapp-sidepanel .sidepanel-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 25%;
    background-color: #FFF;
    z-index: -1;
    transform: translateX(130%);
    transition: all 0.3s ease;
    box-shadow: -3px 0px 6px 0px rgba(0, 0, 0, 0.3); }
  .nextapp-sidepanel .sidepanel-content {
    overflow-x: scroll; }
    .nextapp-sidepanel .sidepanel-content nav {
      margin-top: 50px;
      display: block;
      border-top: 1px solid #EEE;
      border-bottom: 1px solid #EEE; }
      .nextapp-sidepanel .sidepanel-content nav a.nav-link {
        border-top: 1px solid #EEE;
        padding: 15px 20px;
        display: block; }
        .nextapp-sidepanel .sidepanel-content nav a.nav-link:first-child {
          border: none; }
        .nextapp-sidepanel .sidepanel-content nav a.nav-link:hover, .nextapp-sidepanel .sidepanel-content nav a.nav-link:focus, .nextapp-sidepanel .sidepanel-content nav a.nav-link:active {
          background: #EEE; }
        .nextapp-sidepanel .sidepanel-content nav a.nav-link, .nextapp-sidepanel .sidepanel-content nav a.nav-link:hover, .nextapp-sidepanel .sidepanel-content nav a.nav-link:focus, .nextapp-sidepanel .sidepanel-content nav a.nav-link:active {
          color: #000;
          text-decoration: none; }

body.sidepanel-visible {
  overflow: hidden; }
  body.sidepanel-visible .sidepanel-overlay {
    opacity: 0.4;
    transition: opacity 0.3s ease;
    z-index: 10000000; }
  body.sidepanel-visible .sidepanel-container {
    transform: translateX(0);
    transition: transform 0.3s ease;
    z-index: 10000001; }

.nextapp-toast {
  visibility: hidden;
  max-width: 50px;
  height: 50px;
  margin: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  position: fixed;
  z-index: 999999;
  left: 0;
  right: 0;
  bottom: 0px;
  font-size: 17px;
  white-space: nowrap; }
  .nextapp-toast .toast-icon {
    width: 50px;
    height: 50px;
    float: left;
    padding-top: 16px;
    padding-bottom: 16px;
    box-sizing: 'border-box';
    background-color: #111;
    color: #fff; }
  .nextapp-toast .toast-text {
    color: #fff;
    padding: 16px;
    overflow: hidden;
    white-space: nowrap; }
  .nextapp-toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
    z-index: 1000000; }

@-webkit-keyframes fadein {
  from {
    bottom: -60;
    opacity: 0; }
  to {
    bottom: 0px;
    opacity: 1; } }

@keyframes fadein {
  from {
    bottom: -60;
    opacity: 0; }
  to {
    bottom: 0px;
    opacity: 1; } }

@-webkit-keyframes expand {
  from {
    min-width: 50px; }
  to {
    min-width: 100%; } }

@keyframes expand {
  from {
    min-width: 50px; }
  to {
    min-width: 100%; } }

@-webkit-keyframes stay {
  from {
    min-width: 100%; }
  to {
    min-width: 100%; } }

@keyframes stay {
  from {
    min-width: 100%; }
  to {
    min-width: 100%; } }

@-webkit-keyframes shrink {
  from {
    min-width: 100%; }
  to {
    min-width: 50px; } }

@keyframes shrink {
  from {
    min-width: 100%; }
  to {
    min-width: 50px; } }

@-webkit-keyframes fadeout {
  from {
    bottom: 0px;
    opacity: 1; }
  to {
    bottom: -60px;
    opacity: 0; } }

@keyframes fadeout {
  from {
    bottom: 0px;
    opacity: 1; }
  to {
    bottom: -60px;
    opacity: 0; } }

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; }

/**
 * Data page settings
 */
div[data-page] {
  margin-top: 50px;
  height: calc(100vh - $topnav-height);
  overflow-y: scroll;
  overflow-x: hidden; }

.hidden {
  display: none !important; }
