.nexapp-toast {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    margin: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 3;
    left: 0;
    right:0;
    bottom: 0px;
    font-size: 17px;
    white-space: nowrap;

    .toast-icon {
    	width: 50px;
    	height: 50px;
        float: left;
        padding-top: 16px;
        padding-bottom: 16px;
        box-sizing: 'border-box';
        background-color: #111;
        color: #fff;
    }

    .toast-text{
        color: #fff;
        padding: 16px;
        overflow: hidden;
    	white-space: nowrap;
    }

    &.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;

        z-index: 3;
    }
}

// fade in
@-webkit-keyframes fadein {
    from {bottom: -60; opacity: 0;}
    to   {bottom: 0px; opacity: 1;}
}
@keyframes fadein {
    from {bottom: -60; opacity: 0;}
    to {bottom: 0px; opacity: 1;}
}
// expand
@-webkit-keyframes expand {
    from {min-width: 50px}
    to {min-width: 100%}
}
@keyframes expand {
    from {min-width: 50px}
    to {min-width: 100%}
}
// stay
@-webkit-keyframes stay {
    from {min-width: 100%}
    to {min-width: 100%}
}
@keyframes stay {
    from {min-width: 100%}
    to {min-width: 100%}
}
// shrink
@-webkit-keyframes shrink {
    from {min-width: 100%;}
    to {min-width: 50px;}
}
@keyframes shrink {
    from {min-width: 100%;}
    to {min-width: 50px;}
}
// fadeout
@-webkit-keyframes fadeout {
    from {bottom: 0px; opacity: 1;}
    to {bottom: -60px; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 0px; opacity: 1;}
    to {bottom: -60px; opacity: 0;}
}
