div.nexapp-topnav {
	background: $color-dark;
	color: $color-light;

	height: $topnav-height;
	font-size: 20px;
	position: fixed;
	top: 0;
	width: 100%;

	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;

	&.-inverse {
		flex-direction: row-reverse;
	}

	// stuff
	span, a {
		padding: 0px 20px;
		color: $color-light;
	}

	a, a:hover, a:active, a:focus {
		text-decoration: none;
	}
}